
<br>
<br>
<div class="container center">
<button type="button" class="btn btn-default"><h3><a href="rentals">Current Rentals </a></h3></button>
</div>
<br>
<br>
<div class="container center">
<button type="button" class="btn btn-default"><h3><a href="le"> Expiring Leases</a></h3></button>
</div>
<br>
<br>
<div class="container center">
<button type="button" class="btn btn-default"><h3><a href="vacancies">Vacancies</a></h3></button>
</div>
