<h1 class="center"> Leases expiring soon </h1>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Address</th>
      <th>Lease end Date</th>
      <th>Notes</th>
    </tr>
    </thead>
      <tbody>
      <% @rentals.each do |r| %>
      <% if r.leaseenddate <= 60.days.from_now && r.vacant == false%>
      <tr>
      <td><%= link_to r.address, r %></td>
      <td><%= r.leaseenddate.strftime("%m/%d/%Y") %></td>
      <td><%= r.notes %></td>
    </tr>

      <% end %>
<% end %>
  </tbody>
</table>
